.hint-wrapper {
  width: 100%;
  position: absolute;
  height: 100px;
  bottom: 0;
}
.hint {
  color: #fff;
  background: rgba(0,0,0,0.8);
  margin: 31px 118px 0;
  height: 69px;
  padding: 0 10px;
  font-size: 17px;
}
