.hint-wrapper {
  width: 785px;
  position: absolute;
  height: 65px;
  bottom: 0;
  left: 125px;
}
.hint {
  color: #fff;
  background: rgba(0,0,0,0.8);
  margin: 31px 118px 0;
  height: 69px;
  padding: 0 10px;
  font-size: 17px;
}
