.hint-wrapper {
  width: 785px;
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 125px;
}
.hint {
  color: #fff;
  height: 70px;
  padding: 0 7px;
  font-size: 17px;
}

.header-search .hint{
  background: rgba(0,0,0,0.8);
}
